// All Colors
$primary: #455cc7;
$secondary: #5087f1;
$bg_color: #f4f4f7;
$dark: #2f3944;
$gray:  #a7acc0;
$light-gray:  #9e9e9f;
$white: #ffffff;
$success: #4bdbbd;
$warning: #f8a865;
$danger: #ff2b82;
$red: #ff4a4a;
$bg-success: #58a094;
$text-success: #cde2df;
$success: #2dca73;
$black: #000000;
$info: #dbf3ff;

$colors: (
  "light": $white
  // "success": $success,
  // "gray": $gray,
);
