.main-header {
  @include flex-properties(flex, null, null, space-between, center);
  padding: 30px 40px;
  height: $header-height;
  border-bottom: 1px solid lighten($gray, 15%);

  @media (max-width: map_get($breakpoints, "sm")) {
    padding: 20px;
  }

  .nav {
    .nav-item {
      @include flex-properties(flex, null, null, null, center);
    }

    .search-icon {
      color: $gray;
      display: block;
      @media (max-width: map_get($breakpoints, "sm")) {
        display: none;
      }
    }

    .searchbox {
      @include flex-properties(flex, null, null, space-between, center);
      padding: 4px 8px 4px 15px;
      margin: 0 15px;
      width: 160px;
      background-color: $primary;
      border-radius: 5px;
      color: $white;

      .close-bg {
        background-color: lighten($primary, 10%);
        padding: 5px 10px;
        border-radius: 5px;
      }

      @media (max-width: map_get($breakpoints, "sm")) {
        display: none;
      }
    }

    .dropdown {
      @include flex-properties(flex, null, null, null, null);
      position: relative;
    }

    .shadow {
      box-shadow: 1px 2px 4px 0px lighten($primary, 40%);
    }

    .dropdown-toggle {
      height: 47px;
      .user-profile {
        height: 47px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }

    .label-split-icon {
      @include flex-properties(flex, null, null, space-between, center);
      padding: 12px 20px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: $white;
      border-left: 0;
      color: $white;
      font-weight: normal;
      white-space: nowrap;

      .user-label {
        margin-right: 10px;
        color: $dark;
        font-weight: 600;
      }

      .down-icon {
        color: $gray;
        font-size: 24px;
      }
    }

    #label-split-icon:checked {
      & ~ .dropdown-menu {
        display: block;
        z-index: 10;
      }
      & ~ .label-split-icon .fa {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown-menu {
    @extend %w-100;
    display: none;
    position: absolute;
    top: 50px;
    padding: 10px 10px 0 10px;
    background-color: $white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 1px 2px 4px 0px lighten($primary, 40%);

    .dropdown-item {
      text-align: left;
      color: $dark;
      display: block;
      padding-bottom: 8px;
      font-weight: normal;
      font-weight: 600;
      &:hover,
      &:active {
        color: $gray;
      }
    }
  }
  
  .sidebar-toggler {
    display: none;
    color: $gray;
    @media (max-width: map_get($breakpoints, "md")) {
      display: block;
    }
  }
}
